@import "variables.scss";

@each $bg in $files-list{
    $i:index($files-list, $bg);
    .main-bg-#{$i}{
	background: url(../../slk/height1024/#{$bg}.jpg?size=2000) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	

	
	@media(max-width:1200px){
	    background: url(../../slk/height1024/#{$bg}.jpg?size=1200) no-repeat center center fixed;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}

	@media(max-width:600px){
	    background: url(../../slk/height1024/#{$bg}.jpg?size=600) no-repeat center center fixed;
 	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}

	.thumb{
	    background: url(../../slk/height1024/#{$bg}.jpg?size=300) no-repeat center center fixed; 
	}

    }

    
}

