.menu{
    margin-top:13%;
    font-family:bebas_neueregular;
    position:fixed;
    bottom:0px;
    right:0px;
    margin-bottom:10%;
    margin-right:7%;
    font-size:20px;
    
    

    ul{
	font-size:18px;
	list-style-type:none;
	padding:0px;
	margin:0px;
	line-height:42px;
	a{
	    text-decoration:none;
	    color:rgb(152, 152, 152);
	    font-size:20px;

	    &.selected{
		color:rgb(235, 235, 235);
		/*	font-size:20px;*/
	    }
	}
	@media(max-width:800px){
	    /*	    font-size:25px;*/
	}
	
    }
}

.small-menu-2{
    text-align:right;
}

.gallery{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position:fixed;
    background-color: rgba(0,0,0,0.85);
    left:0;
    right:0;
    top:0;
    bottom:0;
    &.closed{
	display:none;
    }
    &.thumbs{
	overflow-y:auto;
	z-index:2;
    }
    &.card{
	overflow-y:auto;
	z-index:2;
	font-size:20px;
    }
    
}

.modal{
    color: white;
    margin: 0 auto;
    /* width: 400px; */
    max-width: 30%;
    /* top: 0px; */
    /* height: 400px; */
    /* height: 100%; */
    &.fit{
	vertical-align: middle;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
    }
    &.wide{
	max-width:65%;
    }
    &pre{
	white-space:pre-wrap;
	word-wrap: break-word;
    }
    
}


.respmenu{
    font-family:bebas_neueregular;
    font-size:18px;
    text-align:right;
    margin-right:3%;

    @media(max-width:500px){
	position:fixed;
	top:0px;
	bottom:0px;
	right:0px;
	left:0px;
	background:white;
	text-align:center;
	margin-right:0px;
	z-index:10;
    }
    ul {
	padding: 0;
	li {
	    display: inline;
	    list-style-type: none;
	    margin-left: 30px;
	    a {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 20px;
		color: black;
		&:hover {
		    color: white;
		}
	    }
	}
	@media (max-width: 500px) {
	    padding: 10px 0;
	    li {
		padding: 10px 0;
		display: block;
		margin-left: 0;
	    }
	}
    }


    
}

.ciklus-pregled{
    margin-bottom:101vh;
    background-color:rgba(0, 0, 0,0.8);

    .img-ciklus{
	margin-bottom:10%;
	width:80%;
	margin:auto;
	@media (max-width:1024px){
	    width:100%;
	}
	img{
	    max-width:100%;
	    max-height:auto;
	}
	
    }
}

body{
    margin:0px;
    padding:0px;
}
