.menu{
    margin-top:13%;
    font-family:bebas_neueregular;
    position:fixed;
    bottom:0px;
    right:0px;
    margin-bottom:10%;
    margin-right:7%;
    font-size:20px;
    
    

    ul{
	font-size:18px;
	list-style-type:none;
	padding:0px;
	margin:0px;
	line-height:42px;
	a{
	    text-decoration:none;
	    color:rgb(152, 152, 152);
	    font-size:20px;

	    &.selected{
		color:rgb(235, 235, 235);
		/*	font-size:20px;*/
	    }
	}
	@media(max-width:800px){
	    /*	    font-size:25px;*/
	}
	
    }
}

.small-menu-2{
    text-align:right;
}

.gallery{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position:fixed;
    background-color: rgba(0,0,0,0.85);
    left:0;
    right:0;
    top:0;
    bottom:0;
    &.closed{
	display:none;
    }
    &.thumbs{
	overflow-y:auto;
	z-index:2;
    }
    &.card{
	overflow-y:auto;
	z-index:2;
	font-size:20px;
    }
    
}

.modal{
    color: white;
    margin: 0 auto;
    /* width: 400px; */
    max-width: 30%;
    /* top: 0px; */
    /* height: 400px; */
    /* height: 100%; */
    &.fit{
	vertical-align: middle;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
    }
    &.wide{
	max-width:65%;
    }
    &pre{
	white-space:pre-wrap;
	word-wrap: break-word;
    }
    
}


.respmenu{
    font-family:bebas_neueregular;
    font-size:18px;
    text-align:right;
    margin-right:3%;

    @media(max-width:500px){
	position:fixed;
	top:0px;
	bottom:0px;
	right:0px;
	left:0px;
	background:white;
	text-align:center;
	margin-right:0px;
	z-index:10;
    }
    ul {
	padding: 0;
	li {
	    display: inline;
	    list-style-type: none;
	    margin-left: 30px;
	    a {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 20px;
		color: #989898;
		&:hover {
		    color: white;
		}
	    }
	}
	@media (max-width: 500px) {
	    padding: 10px 0;
	    li {
		padding: 10px 0;
		display: block;
		margin-left: 0;
	    }
	}
    }


    
}

.ciklus-pregled{
    margin-bottom:101vh;
    background-color:rgba(0, 0, 0,0.8);

    .img-ciklus{
	margin-bottom:10%;
	width:80%;
	margin:auto;
	@media (max-width:1024px){
	    width:100%;
	}
	img{
	    max-width:100%;
	    max-height:auto;
	    margin-bottom:30vh;
	}
	
    }
}

body{
    margin:0px;
    padding:0px;
}

.imggal{
    padding:10px;
    margin-bottom:35px;
}

.whatsnew{
    max-width:800px;
    display:flex;
    flex-wrap:wrap;
    color:white;
    font-size:16px;
    margin:0px auto;
    img {
	object-fit:contain;
	width:100%;
    }
    
}

.whatsnew>*{
    flex: 1 1 300px;
    margin:10px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.ruzica{
    position:fixed;
    color:white;
    font-family:bebas_neueregular;
    left:3%;
    letter-spacing:1px;
    /*  top:10%;*/
    font-size:18px;
    margin-block-start:1em;
    a{
	text-decoration:none;
	color:rgb(152, 152, 152);
	font-size:20px;
    }
}



.arrowright, .arrowleft, .zatvori{
    display: block;
    width: 40px;
    position: absolute;
    z-index: 1;
}

.arrowright span, .zatvori span:after{
    border-top: 3px solid white;
    border-right: 3px solid white;
    right: 50%;
}

.arrowleft span, .zatvori span:before{
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    right: 50%;
}

.zatvori, .zatvorigal{
    height: 40px;
    /*    top: 20px;*/
    /*    right: 20px;*/
    top:0px;
    right:0px;
    text-decoration:none;
    color:white;
    font-size:30px;
    font-family:monospace;
    position:fixed;
    z-index:3;
}

.zatvorigal{
    right:30px;
    top:10px;
}



.zatvorigal.closed{
    display:none;
}

.zatvori span:before, .zatvori span:after{
    width: 6px;
    height: 6px;
    margin-top: -4px;
    margin-left: 0;
    margin-right: 0;
}

.arrowleft span, .arrowright span, .zatvori span:before, .zatvori span:after{
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    margin: -5px;
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

}

.large-menu{
    position:fixed;
    top:0px;
    right:3%;
    z-index:1;
    color:#989898;
}
