.menu{
    margin-top:13%;
    font-family:bebas_neueregular;
    position:fixed;
    bottom:0px;
    right:0px;
    margin-bottom:10%;
    margin-right:7%;
    font-size:20px;
    
    

    ul{
	font-size:18px;
	list-style-type:none;
	padding:0px;
	margin:0px;
	line-height:42px;
	a{
	    text-decoration:none;
	    color:rgb(152, 152, 152);
	    font-size:20px;

	    &.selected{
		color:rgb(235, 235, 235);
	/*	font-size:20px;*/
	    }
	}
	@media(max-width:800px){
/*	    font-size:25px;*/
	}
	
    }
}

.ciklus-pregled{
    margin-bottom:101vh;
    background-color:rgba(0, 0, 0,0.8);

    .img-ciklus{
	margin-bottom:10%;
	img{
	    max-width:100%;
	    max-height:auto;
	}
	
    }
}

body{
    margin:0px;
    padding:0px;
}
